@page "/Index"
@model IEnumerable<CarControl.Domain.Vaga>

@{
    ViewData["Title"] = "Consultar vagas";
}

<h1>Consultar vagas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NmVaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlVaga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NmVaga)
                </td>
                @if(item.FlVaga.ToString() == "D"){
                <td class="flagVagaDisponivel" id="flagVaga" >
                    @Html.DisplayFor(modelItem => item.FlVaga)
                </td>

                }
                else{
                    <td class="flagVagaIndisponivel" id="flagVaga">
                        @Html.DisplayFor(modelItem => item.FlVaga)
                    </td>
                }
                <td class="tdIdVeiculo">
@*                     @Html.ActionLink("Registrar movimento", "RegistrarMovimento", "RegistroDeEntrada", new {  id=item.IdVeiculo })
 *@                </td>

            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index">Voltar ao menu  |</a>
<a asp-controller="CadastroDeVeiculo" asp-action="CadastroDeVeiculo">Inserir novo Veículo  |</a>
<a asp-controller="RegistroDeMovimento" asp-action="RegistroDeEntrada">Registrar nova entrada |</a>
<a asp-controller="RegistroDeMovimento" asp-action="RegistroDeSaida">Registrar saída |</a>
<a asp-controller="CadastroDeveiculo" asp-action="VeiculosCadastrados">Consultar veículos cadastrados</a>
