@model CarControl.Domain.ViewModel.MovimentoViewModel

@{
    ViewData["Title"] = "Registro de Entrada";
}
@if (TempData.ContainsKey("ErrorMessageEntrada"))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessageEntrada"]
    </div>
}
<h1 class="Titulo">Registro de entrada</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistroDeEntradaDeVeiculo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DtEntrada" class="control-label"></label>
                <input type="date" asp-for="DtEntrada" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DtEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HrEntrada" class="control-label"></label>
                <input type="time" asp-for="HrEntrada" class="form-control" value="@DateTime.Now.ToString("HH:mm")" />
                <span asp-validation-for="HrEntrada" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Veiculos" class="control-label">Selecione o CPF do condutor</label>
                @Html.DropDownListFor(model => model.IdVeiculo, new SelectList(Model.Veiculos, "IdVeiculo","CpfCondutor"),"Selecione um condutor"
                , new { @class = "form-control" })
                <span asp-validation-for="IdVeiculo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Vagas" class="control-label">Selecione a vaga</label>
                @{
                    var flVaga = Model.Vagas.Where(v => v.FlVaga.Equals('D')).ToList();

                    var selectList = flVaga.Count() != 0 ? new SelectList(flVaga, "IdVaga", "NmVaga") : new SelectList(new List<SelectListItem> { new SelectListItem { Text = "Nenhuma vaga disponível", Value = "" } }, "Value", "Text");
                }
                @Html.DropDownListFor( model => model.IdVaga,selectList,"Selecione uma vaga", new { @class = "form-control" })
                <span asp-validation-for="IdVaga" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Operacoes" class="control-label">Selecione o tipo de operação</label>
                @Html.DropDownListFor(model => model.IdOperacao, new SelectList(Model.Operacoes, "IdTpOperacao","NmOperacao"),"Selecione uma operação"
                , new { @class = "form-control" })
                <span asp-validation-for="IdOperacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="btnSalvar" type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
        @Html.ValidationSummary()
    </div>
</div>

<a asp-controller="Home" asp-action="Index">Voltar ao menu  |</a>
<a asp-controller="CadastroDeVeiculo" asp-action="CadastroDeVeiculo">Inserir novo Veículo  |</a>
<a asp-controller="RegistroDeMovimento" asp-action="RegistroDeSaida">Registrar saída |</a>
<a asp-controller="ConsultarVagas" asp-action="ConsultarVagas">Consultar vagas  |</a>
<a asp-controller="CadastroDeveiculo" asp-action="VeiculosCadastrados">Consultar veículos cadastrados</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    }


